---
// const platform = "github";
// const username = "alpinzhang";
import Social from './Social.astro'
---

<footer>
  <!-- <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{username}</a
    >!
  </p> -->
  <Social platform="twitter" username="alpin"/>
  <Social platform="github" username="alpinzhang"/>
  <Social platform="youtube" username="alpin"/>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>